<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platforms</key>
	<array>
		<dict>
			<key>analytics_code</key>
			<string>ios7</string>
			<key>code</key>
			<string>ios</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>50</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<real>25</real>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>40</integer>
			<key>title</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>ios11</string>
			<key>code</key>
			<string>ios_glyphs</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>30</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>30</integer>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>30</integer>
			<key>title</key>
			<string>iOS Glyph</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>androidL</string>
			<key>code</key>
			<string>android_l</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>24</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>24</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>72</integer>
			</dict>
			<key>preview_size</key>
			<integer>24</integer>
			<key>title</key>
			<string>Material Filled</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>m_outlined</string>
			<key>code</key>
			<string>m_outlined</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>24</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>24</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>72</integer>
			</dict>
			<key>preview_size</key>
			<integer>24</integer>
			<key>title</key>
			<string>Material Outlined</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>m_rounded</string>
			<key>code</key>
			<string>m_rounded</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>24</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>24</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>72</integer>
			</dict>
			<key>preview_size</key>
			<integer>24</integer>
			<key>title</key>
			<string>Material Rounded</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>m_two_tone</string>
			<key>code</key>
			<string>m_two_tone</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>24</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>24</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>72</integer>
			</dict>
			<key>preview_size</key>
			<integer>24</integer>
			<key>title</key>
			<string>Material Two Tone</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>m_sharp</string>
			<key>code</key>
			<string>m_sharp</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>24</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>24</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>72</integer>
			</dict>
			<key>preview_size</key>
			<integer>24</integer>
			<key>title</key>
			<string>Material Sharp</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>color</string>
			<key>code</key>
			<string>color</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>48</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<real>24</real>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>48</integer>
			<key>title</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>win10</string>
			<key>code</key>
			<string>windows10</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>32</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>32</integer>
			<key>title</key>
			<string>Windows 10</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>office</string>
			<key>code</key>
			<string>office</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>40</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>80</integer>
			</dict>
			<key>preview_size</key>
			<integer>40</integer>
			<key>title</key>
			<string>Office</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>Dusk_Wired</string>
			<key>code</key>
			<string>wired</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>64</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<real>32</real>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>32</integer>
			<key>title</key>
			<string>Cute Outline</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>dusk</string>
			<key>code</key>
			<string>dusk</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>64</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<real>32</real>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>32</integer>
			<key>title</key>
			<string>Cute Color</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>ultraviolet</string>
			<key>code</key>
			<string>ultraviolet</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>40</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>80</integer>
			</dict>
			<key>preview_size</key>
			<integer>40</integer>
			<key>title</key>
			<string>Blue UI</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>dotty</string>
			<key>code</key>
			<string>dotty</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>80</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>80</integer>
			</dict>
			<key>preview_size</key>
			<integer>40</integer>
			<key>title</key>
			<string>Dotted</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>nolan</string>
			<key>code</key>
			<string>nolan</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>64</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<real>32</real>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>32</integer>
			<key>title</key>
			<string>Gradient Line</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>p1em</string>
			<key>code</key>
			<string>1em</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>16</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>80</integer>
			</dict>
			<key>preview_size</key>
			<integer>16</integer>
			<key>title</key>
			<string>Simple Small</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>cotton</string>
			<key>code</key>
			<string>cotton</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>64</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<real>32</real>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>48</integer>
			<key>title</key>
			<string>Pastel</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>android</string>
			<key>code</key>
			<string>android</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>24</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>96</integer>
				<key>25</key>
				<integer>24</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>48</integer>
				<key>75</key>
				<integer>72</integer>
			</dict>
			<key>preview_size</key>
			<integer>24</integer>
			<key>title</key>
			<string>Ice Cream</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>doodle</string>
			<key>code</key>
			<string>doodle</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>64</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<real>32</real>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>46</integer>
			<key>title</key>
			<string>Doodle</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>flat_round</string>
			<key>code</key>
			<string>flat_round</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>64</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<real>32</real>
				<key>50</key>
				<integer>50</integer>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>48</integer>
			<key>title</key>
			<string>Round Infographic</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>win8</string>
			<key>code</key>
			<string>windows</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>26</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>104</integer>
				<key>25</key>
				<integer>26</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<integer>52</integer>
				<key>75</key>
				<integer>78</integer>
			</dict>
			<key>preview_size</key>
			<integer>28</integer>
			<key>title</key>
			<string>Metro</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>clouds</string>
			<key>code</key>
			<string>clouds</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>100</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<real>50</real>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>46</integer>
			<key>title</key>
			<string>Cloud</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>bubbles</string>
			<key>code</key>
			<string>bubbles</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>100</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<real>50</real>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>46</integer>
			<key>title</key>
			<string>Circle Bubbles</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>plasticine</string>
			<key>code</key>
			<string>plasticine</string>
			<key>color</key>
			<true/>
			<key>pixel_perfect</key>
			<integer>100</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<real>50</real>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>46</integer>
			<key>title</key>
			<string>Color Hand Drawn</string>
		</dict>
		<dict>
			<key>analytics_code</key>
			<string>carbon_copy</string>
			<key>code</key>
			<string>carbon_copy</string>
			<key>color</key>
			<false/>
			<key>pixel_perfect</key>
			<integer>100</integer>
			<key>pixel_perfect_sizes</key>
			<dict>
				<key>100</key>
				<integer>100</integer>
				<key>25</key>
				<integer>25</integer>
				<key>32</key>
				<integer>32</integer>
				<key>50</key>
				<real>50</real>
				<key>75</key>
				<integer>75</integer>
			</dict>
			<key>preview_size</key>
			<integer>46</integer>
			<key>title</key>
			<string>Hand Drawn</string>
		</dict>
	</array>
</dict>
</plist>
