<?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?>
<!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;>
<plist version=&quot;1.0&quot;>
<array>
	<string>Married men live longer, but they are more willing to die</string>
	<string>Why penguins mate for life? Because they all look the same. You can&apos;t find a better looking penguin.</string>
	<string>Life is hard, and then you die</string>
	<string>&quot;If people discover this Google thing, we&apos;ll loose our job&quot; Customer Support</string>
	<string>&quot;Metaphysics is a restaurant where they give you a 30,000 page menu and no food&quot; Robert Piercing</string>
	<string>&quot;I never married because I can&apos;t mate in captivity&quot; Gloria Steinem</string>
	<string>Why Willie Sutton robbed banks: “because that’s where the money is.”</string>
	<string>&quot;I believe that sex is a beautiful thing between two people. Between five, its fantastic&quot; Woody Allen</string>
	<string>I do what voices in my head&apos;s wife tell</string>
	<string>You say I&apos;m a bitch like it&apos;s a bad thing.</string>
	<string>Worry. God knows all about you.</string>
	<string>Procrastinate now!</string>
	<string>Relationship status: looking for WiFi</string>	
	<string>I&apos;m old. There&apos;s a nap for that</string>
	<string>Heavily medicated for your safety</string>
	<string>God loves you, he just has an unusual way of showing it</string>
	<string>People who think they know it all really annoy those of us who actually do</string>
	<string>I have a perfect body. It&apos;s your vision that&apos;s defective.</string>
	<string>I&apos;m schizophrenic and so am I</string>	
	<string>I read the Constitution for the articles</string>
	<string>I think that most New Yorkers would object to calling me a New Yorker. I didn&apos;t grow up here. — Sloane Crosley</string>
	<string>You kind of sing and dance like a zombie who has to poop — Glee</string>
	<string>Just because I hate everybody doesn&apos;t mean they have to hate me too — Glee</string>
	<string>I&apos;m a closet lesbian and a judgmental bitch, which means one thing—I have awesome gaydar — Glee</string>
	<string>I only pass gas once a year, for an hour, atop a mountain in Switzerland – Jack from 30 Rock</string>	
	<string>New York gives us a tax break for employing sex offenders. It&apos;s a terrible program. — 30 Rock</string>
	<string>My fanny pack is in my office in my mini-fridge. I like my tampons to be cold. — Liz from 30 Rock</string>
	<string>If I can&apos;t poop in the street, why should my tax dollars pay for someone else to? — Liz from 30 Rock</string>
	<string>Remember, everyone, just don&apos;t be yourselves. — Jack from 30 Rock</string>
	<string>Clothes make the man. Naked people have little or no influence in society. — Mark Twain</string>
	<string>I would rather have my ignorance than another man’s knowledge, because I have so much more of it. — Mark Twain</string>	
	<string>To be good is noble; but to show others how to be good is nobler and no trouble. — Mark Twain</string>
	<string>I refuse to join any club that would have me as a member — Groucho Marx</string>
	<string>Anyone who says he can see through women is missing a lot — Groucho Marx</string>
	<string>I don&apos;t care to belong to a club that accepts people like me as members — Groucho Marx</string>
	<string>Those are my principles, and if you don&apos;t like them... well, I have others — Groucho Marx</string>
	<string>I was married by a judge. I should have asked for a jury. — Groucho Marx</string>	
	<string>Alimony is like buying hay for a dead horse — Groucho Marx</string>
	<string>A hospital bed is a parked taxi with the meter running — Groucho Marx</string>	
	<string>I worked my way up from nothing to a state of extreme poverty — Groucho Marx</string>
	<string>I remember the first time I had sex - I kept the receipt. — Groucho Marx</string>	
	<string>Before I speak, I have something important to say. — Groucho Marx</string>
	<string>Next time I see you, remind me not to talk to you. — Groucho Marx</string>	
	<string>I&apos;m leaving because the weather is too good. I hate London when it&apos;s not raining. — Groucho Marx</string>
	<string>Who are you going to believe, me or your own eyes? — Groucho Marx</string>	
	<string>&quot;Tennessee is nice. The first time I vomited was in Tennessee, I think. — @shitmydadsays</string>
</array>
</plist>
